services:
  db:
    image: postgres
    restart: always
    environment:
      POSTGRES_PASSWORD: password

  nextjs:
    image: node:22-alpine
    restart: always
    working_dir: /app
    volumes:
      - ./nextjs:/app
      - /app/node_modules
      - /app/.next
    ports:
      - 3000:3000
    command: sh -c "npm install && npm run dev"
    environment:
      - NODE_ENV=development
    depends_on:
      - db
